{%  extends 'base.html' %}

{% block content %}
    <ul>
    {% for director in directors %}
        {% if director['director'] is string %}
            <li><a href="/movies/director/{{ director['director'] | urlencode }}">{{ director['director'] }} ({{ director['movie_count'] }})</a></li>
        {% elif director['director'] is iterable %}
            <li>
            {% for dir in director['director'] %}
                <a href="/movies/director/{{ dir }}">{{ dir }}</a>
            {% endfor %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}