{%  extends 'base.html' %}

{% block content %}
    Title: {{ movie['title'] }} <br>
    {% if movie['director'] is string %}
        Director: <a href="/person/{{ movie['director'] }}">{{ movie['director'] }}</a> <br>
    {% elif movie['director'] is iterable %}
        Director:
        {% for dir in movie['director'] %}
            <a href="/person/{{ dir }}">{{ dir }}</a>
        {% endfor %}
        <br>
    {% endif %}
    {% if movie['writer'] is string %}
        Writer: <a href="/person/{{ movie['writer'] }}">{{ movie['writer'] }}</a> <br>
    {% elif movie['writer'] is iterable %}
        Writer:
        {% for wri in movie['writer'] %}
            <a href="/person/{{ wri }}">{{ wri }}</a>
        {% endfor %}
        <br>
    {% endif %}
    Premiered: {{ movie['premiered'] }} <br>
    {% if set != None %}
        Set: <a href="/sets/{{ set['set_id'] }}">{{ set['set_name'] }}</a> <br>
    {% endif %}
    Production Company: {{ movie['production company'] }} <br>
    {% if movie['genre'] is string %}
        Genre: <a href="/movies/genre/{{ movie['genre'] }}">{{ movie['genre'] }}</a> <br>
    {% elif movie['genre'] is iterable %}
        Genre:
        {% for gen in movie['genre'] %}
            <a href="/movies/genre/{{ gen }}">{{ gen }}</a>
        {% endfor %}
    {% endif %}
    <br>Cast:
    <ul>
    {% for actor in actors %}
        <li><a href="/person/{{ actor['name'] }}">{{ actor['name'] }}</a></li>
    {% endfor %}
    </ul>
    {% if tags|length > 0 %}
        <br>Tags:
        <ul>
        {% for tag in tags %}
            <li><a href="/tags/{{ tag['tag_id'] }}">{{ tag['tag_name'] }}</a></li>
        {% endfor %}
        </ul>
    {%  endif %}
    <br><a href="/movies/id/{{ movie['id'] }}/posters">Manage Posters</a>
{% endblock %}