{%  extends 'base.html' %}

{% block content %}
    <h2>{{ info['name'] }}</h2>
    <p>Born: {{ info['birthday'] }} {{ info['place_of_birth'] }}</p>

    {% if tmdb_movies_act|length > 0 or db_movies_act|length > 0 %}
        <h2>Acting</h2>
        {% if db_movies_act|length > 0 %}
            <h3>Movies In Library</h3>
            <ul>
            {% for movie in db_movies_act %}
                <li><a href="/movies/id/{{ movie['id'] }}">{{ movie['title'] }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if tmdb_movies_act|length > 0 %}
            <h3>Movies (Full List)</h3>
            <table class="movies" id="movies_acting_table">
            <tr><th>Title</th><th>Role</th><th>Release</th><th>Pop</th><th>Avg</th><th>In DB</th></tr>
            {% for movie in tmdb_movies_act %}
                <tr>
                {% if movie['title'] in db_movies_act_dict %}
                    <td><a href="/movies/id/{{ db_movies_act_dict[movie['title']] }}">{{ movie['title'] }}</a></td>
                {% else %}
                    <td>{{ movie['title'] }}</td>
                {% endif %}
                <td>{{ movie['character'] }}</td><td>{{ movie['release_date'] }}</td>
                    <td>{{ movie['popularity'] }}</td><td>{{ movie['vote_average'] }}</td>
                {% if movie['title'] in db_movies_act_dict %}
                    <td>Yes</td>
                {% else %}
                    <td>&nbsp</td>
                {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    {% endif %}

    {% if tmdb_movies_dir|length > 0 or db_movies_dir|length > 0 %}
        <h2>Directing</h2>
        {% if db_movies_dir|length > 0 %}
            <h3>Movies In Library</h3>
            <ul>
            {% for movie in db_movies_dir %}
                <li><a href="/movies/id/{{ movie['id'] }}">{{ movie['title'] }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if tmdb_movies_dir|length > 0 %}
            <h3>Movies (Full List)</h3>
            <table class="movies" id="movies_directing_table">
            <tr><th>Title</th><th>Release</th><th>Pop</th><th>Avg</th><th>In DB</th></tr>
            {% for movie in tmdb_movies_dir %}
                <tr>
                {% if movie['title'] in db_movies_dir_dict %}
                    <td><a href="/movies/id/{{ db_movies_dir_dict[movie['title']] }}">{{ movie['title'] }}</a></td>
                {% else %}
                    <td>{{ movie['title'] }}</td>
                {% endif %}
                <td>{{ movie['release_date'] }}</td><td>{{ movie['popularity'] }}</td><td>{{ movie['vote_average'] }}</td>
                {% if movie['title'] in db_movies_dir_dict %}
                    <td>Yes</td>
                {% else %}
                    <td>&nbsp</td>
                {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    {% endif %}

    {% if tmdb_movies_wri|length > 0 or db_movies_wri|length > 0 %}
        <h2>Writing</h2>
        {% if db_movies_wri|length > 0 %}
            <h3>Movies In Library</h3>
            <ul>
            {% for movie in db_movies_wri %}
                <li><a href="/movies/id/{{ movie['id'] }}">{{ movie['title'] }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if tmdb_movies_wri|length > 0 %}
            <h3>Movies (Full List)</h3>
            <table class="movies" id="movies_writing_table">
            <tr><th>Title</th><th>Release</th><th>Pop</th><th>Avg</th><th>In DB</th></tr>
            {% for movie in tmdb_movies_wri %}
                <tr>
                {% if movie['title'] in db_movies_wri_dict %}
                    <td><a href="/movies/id/{{ db_movies_wri_dict[movie['title']] }}">{{ movie['title'] }}</a></td>
                {% else %}
                    <td>{{ movie['title'] }}</td>
                {% endif %}
                <td>{{ movie['release_date'] }}</td><td>{{ movie['popularity'] }}</td><td>{{ movie['vote_average'] }}</td>
                {% if movie['title'] in db_movies_wri_dict %}
                    <td>Yes</td>
                {% else %}
                    <td>&nbsp</td>
                {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    {% endif %}


{% endblock %}

{% block footer_content %}
<script type="application/javascript">
    RegisterTableHeader("movies_acting_table");
    RegisterTableHeader("movies_directing_table");
    RegisterTableHeader("movies_writing_table");
</script>
{% endblock %}