{%  extends 'base.html' %}

{% block content %}
    {% if db_tag|length > 0%}
        Title: <a href="/tags/{{ db_tag['tag_id'] }}">{{ taglist['name'] }}</a> <br>
    {% else %}
        Title: {{ taglist['name'] }} <br>
    {% endif %}
    Description: {{ taglist['description'] }} <br>
    <br>
    <form method="post">
    {% if db_tag|length > 0 %}
        <input type="submit" value="Add Tags">
        <input type="hidden" name="add_tags" value="true">
        {% if tags_added is not none %}
            <span>Tags added: {{ tags_added }}</span>
        {% endif %}
    {% else %}
        <input type="submit" value="Create Tag">
        <input type="hidden" name="create_tag" value="true">
    {% endif %}
    </form>
    <br>
    <table class="movies">
        <tr><th>Year</th><th>Title</th><th>In DB</th><th>Has Tag</th></tr>
    {% for movie in taglist_movies %}
        <tr><td>{{ movie['year'] }}</td>
            {% if movie['title'] in db_movies_dict %}
                <td><a href="/movies/id/{{ db_movies_dict[movie['title']] }}">{{ movie['title'] }}</a></td>
                <td>Yes</td>
                {% if movie['title'] in db_tag_movies_dict %}
                    <td>Yes</td>
                {% else %}
                    <td>&nbsp</td>
                {% endif %}
            {% else %}
                <td>{{ movie['title'] }}</td>
                <td>&nbsp</td>
                <td>&nbsp</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>

{% endblock %}