{%  extends 'base.html' %}

{% block content %}
    Title: {{ tvshow['title'] }} <br>
    First Aired: {{ tvshow['first_aired'] }} <br>
    Studio: {{ tvshow['studio'] }} <br>
    {% if tvshow['rating'] is string %}
        Rating: {{ tvshow['rating'] }}
    {% endif %}
    {% if tvshow['genre'] is string %}
        Genre: <a href="/tvshows/genre/{{ tvshow['genre'] }}">{{ tvshow['genre'] }}</a>
    {% elif tvshow['genre'] is iterable %}
        Genre:
        {% for gen in tvshow['genre'] %}
            <a href="/tvshows/genre/{{ gen }}">{{ gen }}</a>
        {% endfor %}
    {% endif %} <br><br>
    {% if season == 0 %}
        Specials: <br>
    {% else %}
        Season {{ season }}: <br>
    {% endif %}
    <table>
    <tr><th>No.</th><th>Airdate</th><th>Title</th></tr>
    {% for e in episodes %}
        <tr><td>{{ e['number'] }}</td><td>{{ e['airdate'] }}</td><td>{{ e['title'] }}</td></tr>
    {% endfor %}
    </table>
{% endblock %}